Task1.deps
Task1.dll
Task1.pdb
Task1.runtimeconfig
Task2.deps.json
Task2.dll
Task2.exe
Task2.pdb
Task2.runtimeconfig.json
project.assets.json
project.nuget.cache
Task2.csproj.nuget.dgspec.json
Task2.csproj.nuget.g.props
Task2.csproj.nuget.g.targets
Task2.dll
Task2.exe
Task2.pdb
obj
Task1.AssemblyInfo.cs
Task1.AssemblyInfoInputs.cache
Task2.AssemblyInfo.cs
Task2.AssemblyInfoInputs.cache
Task1.AssemblyInfo.cs
Task1.AssemblyInfoInputs.cache
Task2.AssemblyInfo.cs
Task2.AssemblyInfoInputs.cache
Task1.AssemblyInfo.cs
Task1.AssemblyInfoInputs.cache
Task1.GeneratedMSBuildEditorConfig.editorconfig
Task1.assets.cache
Task1.csproj.nuget.dgspec.json
project.assets.json
project.nuget.cache
Task2.AssemblyInfo.cs
Task2.AssemblyInfoInputs.cache
Task2.GeneratedMSBuildEditorConfig.editorconfig
Task2.assets.cache
project.assets.json
project.nuget.cache
